.no-display {
    display: none !important;
}

.logo-dimen {
    width: 13rem;
}

::-webkit-scrollbar {
    display: none;
}

.coming-soon {
    color: green;
}

.dropdown.cn-col-4 {
    width: 220px !important;
}

.single-product-wrapper .product-img img {
    height: 372px;
}

.single-image-item {
    height: 88vh;
    width: auto !important;
    margin: 0 auto;
}

.product-images {
    padding: 0 20px;
}

.map-image {
    height: 100vh;
}

#scrollUp {
    border-radius: 50px !important;
}

@media only screen and (max-width: 900px) {

    /* For mobile phones: */
    .logo-dimen {
        width: 7rem;
    }

    .single_catagory_area {
        margin-bottom: 1rem;
    }

    .single-image-item {
        height: auto !important;
    }
}

.single-product-wrapper .product-img {
    border: 2px solid #e7be71;
}